.list-card {
    width: 100%;
    background: #d2d2d2;
}
.title {
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 6px 12px;
    background: #8e7f7f;
    position: relative;
}
.title .list-adder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.card-container {
    padding: 15px 10px;
    max-height: calc(100vh - 180px);
    overflow: scroll;
}
.section-button {
    width: 100%;
    padding: 10px;
    color: green;
    text-transform: uppercase;
}